{% extends "base.html" %}
{% block title %}
    <title>图书详情</title>
{% endblock %}

{% block content %}
{% if book %}
<h2>{{ book.title }}</h2>

    {% if book.chapters %}
    <button type="button" class="btn" data-toggle="collapse" data-target=".book-chapter">
         折叠章节摘要 
      </button>
    <h3>chapters</h3>
    <div class="panel-group">
        {% for chap in book.chapters %}
        <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                {{  chap.chapNo }} -- {{ chap.chapName }}
            </div>
        </div>
        <div class="panel-collapse collapse in book-chapter">
            <div class="panel-body">
                {{ chap.abstract }}
            </div>
        </div>
        </div>
        {% endfor %}
    {% endif %}

{% else %}
book does not exist
{% endif %}
{% endblock %}
