{% extends "base.html" %}

{% block title %}
    <title>图书列表</title>
{% endblock %}

{% block content %}
<h2> 图书列表 </h2>

{% if books %}
<div class="list-group">
{% for book in books %}
    <div class="list-group-item">
        <div class="book-title">
          <a href="{% url 'bookStore.views.book_detail' book.bookId %}">
            {{ book.name }}
          </a>
          </div>
      {% if book.cnFile or book.enFile %}
      下载：
      {% endif %}
      {% if book.cnFile %}
        <a href='{{ MEDIA_URL }}{{ book.cnFile }}'>cn</a>
      {% endif %}
      {% if book.enFile %}
        <a href='{{ MEDIA_URL }}{{ book.enFile }}'>en</a>
    {% endif %}
    </div>
{% endfor %}
</div>
{% else %}
尚未添加图书，现在添加?
{% endif %}

{% endblock %}
